html, body {
	font-size: 16px;
}

*{
	margin: 0;
	padding: 0;
}
.wrapper {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	background-color: darkslategray;
	box-shadow: 0 0 15px 1px black;
	scroll-behavior: smooth;

}

header {
	background-color: #eff0f2;
	height: 810px;
	width: 1440px;
	text-align: center;
}
main {
	background-color:white;
	width: 1440px;
	/*height: 4910px;*/
}
footer {
	background-color: black;
	width: 1440px;
	height: 315px;
}

.header__logo {
	padding-top: 64px;
	padding-right: 1030px;
	width: 114px;
}
.greeting__cup {
	margin-top: -40px;
	padding-left: 917px;
	width: 121px;
}

.header__greeting {
	background-color: #eff0f2;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}
.greeting__text {
	padding-top: 203px;
	text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
	font-family: Montserrat, sans-serif;
	font-size: 45px;
	font-weight: 700;
	line-height: 28px;
	color: rgb(80,80,80);
	letter-spacing: 2px;
}
.greeting__text-back {
	width: 255px;
	height: 54px;
	background-color: #76f4ea;
	opacity: 1;
	padding:  0 5px 0 5px;
}
.greeting__text-contact {
	font-size: 18px;
	border: #000000 solid 2px;
	border-radius: 2px;
	padding: 12px 40px 12px 40px;
	margin-top: 155px;
	width: 150px;
	opacity: 0.75;
	color: #000000;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 2px;
	margin-left: 403px;
}
.about {
	height: 985px;
	background-color: #f8fafa;
}
.about__header {
	padding-top: 125px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}
.about__header-title {
	/*width: 219px;*/
	text-transform: uppercase;
	opacity: 0.9;
	color: #000000;
	font-family: Montserrat, serif;
	font-size: 38px;
	font-weight: 900;
	line-height: 28px;
	letter-spacing: 2.28px;
}
.about__header-subtitle {
	/*width: 617px;*/
	padding: 10px;
	opacity: 0.62;
	color: #000000;
	font-family: Merriweather, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}
.about__block{
	display: flex;
	padding-top: 125px;
}
.about__block img {
	margin-left: 232px;
	width: 392px;
	box-shadow: 0 0 10px 5px darkgrey;
	padding-top: 5px;
}
.block__texts{
	opacity: 0.75;
	color: #000000;
	font-family: Merriweather, serif;
	padding-left: 155px;
	text-align: justify;
	padding-top: 7px;
}
.block__title{
	opacity: 0.75;
	color: #000000;
	font-family: Merriweather, serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.3px;
}
.block__title2 {
	opacity: 0.75;
	color: #000000;
	font-family: Merriweather, serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 1.02px;
	padding-top: 7px;
}
.block__txt{
	width: 474px;
	opacity: 0.74;
	color: #000000;
	font-family: Raleway, serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.7px;
	padding-top: 20px;
}
.works {
	height: 1135px;
}
.works_container img {
	width: 370px;
	padding: 7px;
}
.works_container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
 }
.team_comment-block {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	width: 370px;
	padding: 7px;
	background-image: url("./img/team/22_team.jpg");
 }
.team_comment {
	/*position: relative;*/
	width: 335px;
	height: 241px;
	box-shadow: 3px 6px 16px rgba(20, 20, 21, 0.18);
	background-color: #6df6eb;
	opacity: 0.98;

 }



/*.open:hover {*/
/*    transform: scale(1.05);*/
/*}*/
/*.shop {*/
/*	display: flex;*/
/*	justify-content: center;*/
/*	align-items: center;*/
/*	flex-wrap: wrap;*/
/*	width: 90%;*/
/*	min-height: 560px;*/
/*	margin: 0 auto;*/
/*	padding: 60px 30px;*/
/*    background-color: rgba(0,0,0,.7);*/
/*    border-radius: 8px;*/
/*}*/
/*.product {*/
/*	width: 23%;*/
/*	min-height: 200px;*/
/*	margin-right: 1%;*/
/*    background-color: #fff;*/
/*    border-radius: 8px;*/
/*    margin-bottom: 30px;*/
/*    box-shadow: 0 0 30px rgba(256,256,256, .4);*/
/*}*/

/*.product .product-card img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/
/*button {*/
/*	display: block;*/
/*	width: 120px;*/
/*	height: 30px;*/
/*	margin: 0 auto;*/
/*    margin-top: 10px;*/
/*    margin-bottom: 10px;*/
/*    border: 1px solid #000;*/
/*    border-radius: 4px;*/
/*	cursor: pointer;*/
/*}*/
/*.cart {*/
/*	display: none;*/
/*	width: 100%;*/
/*	height: 100%;*/
/*	position: absolute;*/
/*	top: 0;*/
/*	background-color: rgba(0,0,0,.9)*/
/*}*/

/*.cart .cart-field {*/
/*	width: 80%;*/
/*	height: 600px;*/
/*	display: flex;*/
/*	justify-content: center;*/
/*	align-items: center;*/
/*	flex-wrap: wrap;*/
/*	margin: 0 auto;*/
/*	margin-top: 30px;*/
/*	border: 1px solid white;*/
/*}*/







