.about__block__texts, .about__header, .header__greeting, footer, .wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

html, body {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.wrapper {
  background-color: darkslategray;
  box-shadow: 0 0 15px 1px black;
  scroll-behavior: smooth;
  text-align: center;
}

i {
  max-height: 40px;
  opacity: 0.7;
  color: #000000;
  font-size: 13px;
  padding-right: 13px;
}

a {
  color: #ffffff;
}

header {
  background-color: #eff0f2;
  min-height: 810px;
  width: 93vw;
}

main {
  background-color: #ffffff;
  min-height: 4210px;
  width: 93vw;
}

footer {
  background-color: #000000;
  width: 93vw;
  min-height: 315px;
  opacity: 0.8;
  color: #ffffff;
  font-family: Raleway, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.16px;
}
footer span {
  margin: -50px 0 0;
}

.header__logo {
  padding-top: 4.5%;
  padding-right: 72%;
  max-width: 113px;
}

.header__greeting {
  padding: 13.3% 11% 0 11%;
  text-shadow: 4px 8px 10px #000000;
  font-family: Montserrat, sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 57px;
  color: #000000;
  opacity: 0.6;
  letter-spacing: 1.9px;
  background-color: #eff0f2;
}
.header__greeting button {
  font-size: 18px;
  border: #000000 solid 2px;
  border-radius: 2px;
  padding: 11px 42px;
  margin: 12.3% 39% 0 39%;
  color: #000000;
  opacity: 0.8;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 2px;
  width: 240px;
}

.header__greeting_phrase {
  min-width: 300px;
  margin: 0 auto;
}

.header__greeting__cup {
  margin-top: -3%;
  padding-left: 85%;
  max-width: 11%;
}

.header__greeting__color {
  width: 255px;
  height: 54px;
  background-color: #6df6eb;
  padding: 0 5px 0 5px;
}

.about {
  min-height: 23.3%;
  background-color: #f8fafa;
}

.about__header {
  padding: 120px 0 0 0;
}

.about__header__title {
  opacity: 0.9;
  color: #000000;
  font-family: Montserrat, sans-serif;
  font-size: 38px;
  line-height: 40px;
  font-weight: 900;
  letter-spacing: 2.28px;
}

.about__header__subtitle {
  opacity: 0.62;
  color: #000000;
  font-family: Merriweather, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 0 11% 0 11%;
}

.about__block {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-between;
  padding: 120px 9% 100px 9%;
}
.about__block img {
  margin: 25px 8% 60px 8%;
  max-width: 392px;
  box-shadow: 0 0 10px 5px #a9a9a9;
}

.about__block__texts {
  margin: 0 5% 90px 5%;
  opacity: 0.75;
  color: #000000;
  font-family: Merriweather, serif;
  text-align: justify;
  max-width: 474px;
  min-width: 274px;
  padding: 0 0 0 0;
}

.about__block__texts__title {
  opacity: 0.75;
  color: #000000;
  font-family: Merriweather, serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.3px;
  min-width: 274px;
}

.about__block__texts__title2 {
  opacity: 0.75;
  color: #000000;
  font-family: Merriweather, serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1.02px;
  padding-top: 11px;
}

.about__block__texts__txt {
  max-width: 474px;
  opacity: 0.74;
  color: #000000;
  font-family: Raleway, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.7px;
  padding-top: 20px;
  min-width: 274px;
}

.works {
  min-height: 1170px;
  margin-top: 7px;
}

.works_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 110px 0 100px 0;
}
.works_container img {
  width: 370px;
  min-width: 300px;
  min-height: 357px;
  padding: 7px;
}
.works_container img:hover {
  transform: skew(-5deg);
  transition: 1s;
}

i:hover, button:hover, a:hover {
  transform: scale(1.05, 1.05);
  transition: 1s;
  color: #ffffff;
  background: #6df6eb;
}

.team {
  min-height: 1385px;
  background-color: #f9fbfb;
  margin-top: -35px;
  margin-bottom: -4px;
}

.team_comment-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  width: 370px;
  height: 440px;
  margin: 7px;
  background-image: url("../img/team/22_team.jpg");
}

.team_comment-contacts {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 40px;
}

.team_comment-block {
  width: 335px;
  height: 241px;
  box-shadow: 3px 6px 16px #2D141415;
  background-color: #6df6eb;
  margin-top: 165px;
  text-align: justify;
}

.team_comment-title {
  opacity: 0.95;
  line-height: 24px;
  color: #000000;
  font-family: Merriweather, serif;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding: 38px 40px 15px 40px;
}
.team_comment-title span {
  font-family: Merriweather, serif;
  font-weight: 400;
  letter-spacing: 0.45px;
  font-size: 15px;
  line-height: 24px;
  font-style: italic;
}

.team_comment-text {
  width: 239px;
  height: 64px;
  color: #000000;
  font-family: Raleway, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  padding: 0 40px 25px 40px;
}

.contacts {
  background: url("../img/snow_forest.jpg") no-repeat 50% bottom;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: Raleway, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.16px;
  padding: 115px 15px 0 15px;
}
.contacts button {
  font-size: 18px;
  border: #000000 solid 2px;
  border-radius: 2px;
  padding: 12px 35px;
  background-color: #6df6eb;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 2px;
  margin: 0 0 33px 33px;
}

.contacts__block1 {
  width: 44.2%;
  min-width: 300px;
  height: 460px;
  box-shadow: 0 0 30px #1E151515;
  background-color: #021623;
  opacity: 0.7;
  margin: 8px 16px 122px 16px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.contacts__block1 input {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #8a8a8a;
  width: 88%;
  background: none;
  text-decoration: none;
  outline: none;
  padding: 0 0 10px 0;
  margin: 50px 0 -35px 0;
  color: #ffffff;
}
.contacts__block1 input:last-child {
  margin: 50px 0 55px 0;
}

.contacts__block2 {
  width: 36%;
  min-width: 300px;
  height: 460px;
  background-color: #021623;
  margin: 8px 10px 122px 10px;
  text-align: justify;
  opacity: 0.7;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.contacts__block2 p {
  padding: 0 0 0 30px;
  color: #ffffff;
  font-family: Raleway, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
.contacts__block2 p:first-child {
  margin: 33px 0 0 0;
}

iframe {
  margin: 20px auto;
  min-width: 90%;
  min-height: 45%;
  max-width: 460px;
  max-height: 224px;
  opacity: 1;
}

.footer-contacts {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
  margin: 11px;
  text-align: center;
}

.footer-contacts i {
  background: #8a8a8a;
  width: 40px;
  height: 34px;
  padding: 3px;
  margin: 7px 3px 3px 3px;
  font-size: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}
.footer-contacts i:hover {
  background: #6df6eb;
  color: #ffffff;
  margin: 0 auto;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .about__block {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: flex-start;
    padding: 120px 9% 100px 9%;
  }
  .about__block img {
    max-width: 280px;
  }
}
@media screen and (min-width: 1366px) {
  iframe {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    max-width: 66%;
    max-height: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
