.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkslategray;
  scroll-behavior: smooth;
}

.wrapper-app {
  background-color: white;
  box-shadow: 0 0 15px 1px black;
}

main {
  /*display: flex;*/
  /*justify-content: space-around;*/
  /*align-items: center;*/
  background-color: white;
  width: 1440px;
  text-align: center;
}

header {
  background-color: #eff0f2;
  height: 110px;
  width: 1440px;
  /*background-image: url('../img/part1.jpg');*/
  /*background-color: white;*/
}

footer {
  background-color: black;
  width: 1440px;
  height: 315px;
}

.header__logo {
  padding: 56px 0 0 150px;
  width: 114px;
}

.main__greeting {
  width: 126.3157894737%;
  height: 695px;
  background-color: #eff0f2;
  font-size: 24px;
  /*flex-wrap: wrap;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting__text {
  flex-wrap: wrap;
  height: 695px;
  font-family: Montserrat, sans-serif;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 1pt;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #505050;
  text-shadow: 5px 5px 10px gray;
  position: relative;
  top: 10%;
}

.greeting__back {
  background: aqua 255px 54px/50% 50% no-repeat;
  /*box-shadow: 5px 5px 0 cyan;*/
  padding: 0 5px 0 5px;
}

.greeting__contact {
  font-family: Raleway, serif;
  font-size: 18px;
  letter-spacing: 2pt;
  border: darkslategrey solid 2px;
  padding: 15px 45px 15px 45px;
  font-weight: bold;
  margin-top: 140px;
}

.greeting__cup {
  padding-left: 80%;
  /*padding-bottom:	20%;*/
  width: 125px;
}